<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Money Converter</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
  <h1>
    <a href="/">
      <img 
        src="/images/exchange-logo.jpg" 
        width="30%"
        alt="casa da moeda">
    </a>
  </h1>
 
</header>